

.sidebar{
  width: 250px;
  top:0px;
  left: 0px;
  bottom: 0px;
  /*background-color: #ccc;*/
}
.sidebar_fixed .logo{
  padding: 20px 25px;
}
.sidebar_fixed .logo img{
  height: 40px;
}
.app {
  background-color: #f1f1ee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__body{
  display: flex;
  color: rgb(0, 0, 0);
}
.h1{ position: sticky;
  top:0;
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 999;}